﻿@model IEnumerable<WebApp.Models.Configuration>

@{
    ViewBag.Title = "Configuraton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p>
    @Html.ActionLink("Yeni Konfigurasyon Ekle", "Create", null, new { @class = "btn btn-primary" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @if (item.IsActive == true)
            {
                @Html.ActionLink("Aktif", "ChangeActivity", new { id = item.ID }, new { @class = "btn btn-success" })
            }
            else
            {
                @Html.ActionLink("Pasif", "ChangeActivity", new { id = item.ID }, new { @class = "btn btn-danger" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationName)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
